
	/* Parallax effect */

	.parallax_wrapper {
		height: 100vh;
		width: 100vw;
		overflow-x: hidden;
		overflow-y: auto;
		perspective: 300px;
	}

	.spacer {
		position: static;
		height: 300%;
		margin-bottom: 90%;
		transform: translateZ(-500px) scale( calc(1 + ( (-500 * -1) / 300)));
		background-color: rgba(8, 156, 158, 1);
		background-image: linear-gradient(0deg, rgba(8, 156, 158, 1) 18%, rgba(33, 21, 157, 1) 66%, rgba(15, 23, 42, 1) 100%, rgba(27, 6, 33, 1) 100%);
	}

	.parallax_group {
		position: relative;
		height: 100vh;
		transform-style: preserve-3d;
		will-change: scroll-position;
	}

	.parallax-layer {
		position: absolute;
		inset: 0;
	}

	.parallax-layer img {		
		width: 100%;
	}

	#back {
		/* scale formula: 1 + ((Z_transform * -1) / perspective) */
		transform: translateY(-200vw) translateZ(-500px) scale( calc(1 + ( (-500 * -1) / 300)));
	}

	#fmtn {
		transform: translateY(-50vw) translateZ(-400px) scale( calc(1 + ( (-400 * -1) / 300)));
	}

	#mtn {
		transform: translateY(0vw) translateZ(-250px) scale( calc(1 + ( (-250 * -1) / 300)));
	}

	#rocks {
		transform: translateY(30vw) translateZ(-100px) scale( calc(1 + ( (-100 * -1) / 300)));
	}

	#clouds {

		transform: translateY(-10vw) translateZ(-300px) scale( calc(1 + ( (-300 * -1) / 300)));
	}

	#footer {
		height: 1000vw;
		background-color: #080808;
		transform: translateY(250vw);
		z-index: 0;
	}

