/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/

    /* Default link styling */
    a:link { color:#ffffff; transition: 0.3s }
    a:visited { color:#ffffff; }
    a:hover, a:focus {
		color:rgb(236, 201, 126);
		transition: 0.3s;
		transform: 3px 2px;
	}
    a:active { color:rgb(255, 255, 255); }
    
/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

	* {
		margin: 0;
		padding: 0;
		transition: none;
	}
	
	body {
		font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		color: rgb(43, 43, 43);
		line-height: 1.5;
		background-image: url("https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
		background-size: 1440pt;
		background-position: center;
		background-repeat: no-repeat;

	}

	#logo_wrapper {
		height: 90vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	#logo_background {
		width: 430pt;
	}

	.logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#logo_wrapper .button {
		font-size: 20px;
		text-decoration: none;
		color: rgb(43, 43, 43);
		margin: 5px;
		padding: 12px;
		border-radius: 15px;
		transition: 0.7s ease-in-out;
	}

	#logo_wrapper .button:hover {
		color: white;
		background-color: rgba(60, 60, 65, 0.329);
		transition: 0.15s ease-out;
	}

	#logo_wrapper .button:active {
		background-color: rgba(0, 0, 0, 0.726);
		color: #fff;
	}

	#contentinfo {
		height: 10vh;
		display:flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#contentinfo .button {
		text-decoration: none;
	}
    
/* ---------------------------------------------------------
   Print styles
   ---------------------------------------------------------*/
@media print {
    * {
        color:#000 !important;
        box-shadow:none !important;
        text-shadow:none !important;
        background:transparent !important;
    }

    /* Show link destinations in brackets after the link text */
    a[href]:after { content: " (" attr(href) ") "; }
    a[href] {
        font-weight:bold;
        text-decoration:underline;
        color:#06c;
        border:none;
    }
    /* Don't show link destinations for JavaScript or internal links */ 
    a[href^="javascript:"]:after, a[href^="#"]:after { content:""; }
    
    /* Show abbr title value in brackets after the text */
    abbr[title]:after { content: " (" attr(title) ")"; }

    figure { 
        margin-bottom:1em; 
        overflow:hidden;
    }

    figure img { border:1px solid #000; }
}

/***************************************************
 * Generated by SVG Artista on 12/13/2021, 11:57:17 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg .svg-elem-1 {
	stroke-dashoffset: 2621.4765625px;
	stroke-dasharray: 2621.4765625px;
	stroke: #BFC9FF;
	transition: stroke-dashoffset 10s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s,
				  fill 1.7s cubic-bezier(0.23, 1, 0.32, 1) 2.8s;
  }
  
  svg.active .svg-elem-1 {
	stroke-dashoffset: 0;
}

svg .svg-elem-2 {
	stroke-dashoffset: 1345.6434326171875px;
	transition-timing-function: ease-out;
	stroke-dasharray: 1345.6434326171875px;
	fill: transparent;
	transition: stroke-dashoffset 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.12s,
				  fill 1.7s cubic-bezier(0.23, 1, 0.32, 1) 2.9s;
  }
  
  svg.active .svg-elem-2 {
	stroke-dashoffset: 0;
	fill: #7EA1C4;
}
  
  svg .svg-elem-3 {
	stroke-dashoffset: 1364.227783203125px;
	stroke-dasharray: 1364.227783203125px;
	fill: transparent;
	transition: stroke-dashoffset 7s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.24s,
				  fill 1.7s cubic-bezier(0.23, 1, 0.32, 1) 3s;
  }
  
  svg.active .svg-elem-3 {
	stroke-dashoffset: 0;
	stroke: rgb(23, 23, 23);
	fill: #322F33;
  }
  