/* ---------------------------------------------------------
   HTML5 Bones
   This stylesheet contains print styling and a section for 
   you to simply add your own. This is a basic template 
   after all.
   ---------------------------------------------------------*/
    
   a:link { text-decoration: none; }


   a:visited { text-decoration: none; }
   
   
   a:hover { text-decoration: none; }
   
   
   a:active { text-decoration: none; }

/* ---------------------------------------------------------
   Author's styles
   ---------------------------------------------------------*/

	* {
		margin: 0;
		padding: 0;
		transition: none;
	}
	
	*, html {

		scroll-behavior: smooth !important;
	}

	body {
		font-family: 'Inter', sans-serif;
		font-size: 17px;
		line-height: 1.5;
		background-size: contain;
		background-attachment: fixed;
		background: #000000;
	}

	html, body {
		overflow: visible;
	}


	.logo {
		filter: drop-shadow(4px 4px 0.4rem rgba(0, 0, 0, 0.432));
	}
	
	#scalable_logo {
		pointer-events: none;
		background: rgb(255, 255, 255) url("../img/image.png");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 5%;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
	}


	nav {
		position: fixed;
		width: 100%;
		height: 130px;
		pointer-events: none;
		z-index: 1;
		display: flex;
		align-items: center;
	}
	
	.button_wrapper {
		pointer-events: all;
		margin-right: 40px;
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	nav .button {
		font-family: 'Square Peg', cursive;
		font-size: 25pt;
		color: white;
		transition: 0.7s;
		filter: drop-shadow(4px 4px 0.4rem rgba(0, 0, 0, 0.432));
	}

	nav .button:hover {
		color: rgb(247, 198, 175);
		transition: 0.3s;
	}

	.anim_uline {
		display: inline-block;
		position: relative;
	  }
	  
	.anim_uline:after {
		content: '';
		position: absolute;
		width: 100%;
		transform: scaleX(0);
		height: 1px;
		bottom: 15px;
		left: 0;
		background-color: rgb(247, 198, 175);
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
	
	.anim_uline:hover:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

	/* Cards */
	
	.info-wrap {
		height: auto;
		width: 100vw;
		margin-top: -100vw;
		position: relative;
		/* Center child horizontally*/
		display: flex;
		justify-content: center;
	}

	.textbox {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		font-size: 15pt;
		margin: 30%;
		padding: 0.8%;
		border-radius: 20px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	.textbox p {
		margin: 20px;
		text-align: center;
	}

	.textbox a {
		color: blue;
		text-decoration: underline;
	}

	#hello {
		margin-top: 10vw;
		width: 100vw;
		/* Center child horizontally*/
		display: flex;
		justify-content: center;
	}

	#hellot {
		width: fit-content;
		padding-left: 30px;
		padding-right: 30px;
		height: fit-content;
	}

	.textbox h1 {
		text-align: center;
		font-size: 20pt;
	}

	#aboutme {
		margin-top: 00vw;
		height: 200vh;

	}

	#projects {
		margin-top: 0vw;
	}
	
	#projects .textbox {
		background-color: #404040;
		color: white;
	}

	#contact {
		margin-top: 20vw;

		height: 000vh;
		transform: translateY(50vw);
	}

	form {
		width: 100%;
		display: flexbox;
	}
	   
	input {
		width: 100%;
		margin-bottom: 7px;
		color: rgb(14, 14, 14);
	}

	textarea {
		width: 100%;
		min-width: 100%;
		margin-bottom: 20px;
		box-shadow: 0 10px 10px rgba(0, 0, 0, 0.075);
		color: rgb(14, 14, 14);
	}
	
	button {
		margin-left: 44.6%;
		margin-bottom: 20px;
		padding: 5px;
		border-radius: 10px;
		background-color: rgb(255, 212, 212);
	}

/***************************************************
 * Generated by SVG Artista on 12/13/2021, 11:57:17 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

svg .svg-elem-1 {
	stroke-dashoffset: 2621.4765625px;
	stroke-dasharray: 2621.4765625px;
	stroke: #ffffff79;
	stroke-width: 1px;
	transition-delay: 50s;
	transition: stroke-dashoffset 10s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s,
	fill 1.7s cubic-bezier(0.23, 1, 0.32, 1) 2.8s;
}
  
svg.active .svg-elem-1 {
	stroke-dashoffset: 0;
	transition-delay: 2s;
}

svg .svg-elem-2 {
	stroke-dashoffset: 1345.6434326171875px;
	transition-timing-function: ease-out;
	stroke-dasharray: 1345.6434326171875px;
	fill: transparent;
	stroke-width: 10px;
	transition: stroke-dashoffset 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.12s,
				  fill 1.7s cubic-bezier(0.23, 1, 0.32, 1) 2.9s;

  }
  
  svg.active .svg-elem-2 {
	transition-delay: 8s;
	stroke-dashoffset: 0;
	fill: #ffffff
}
  
svg .svg-elem-3 {
stroke-dashoffset: 1364.227783203125px;
stroke-dasharray: 1364.227783203125px;
fill: transparent;
transition: stroke-dashoffset 7s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.24s,
				fill 1.7s cubic-bezier(0.23, 1, 0.32, 1) 3s;
}

svg.active .svg-elem-3 {
	transition-delay: 5s;
stroke-dashoffset: 0;
stroke: #322F33;
stroke-width: 2px;
fill: #322F33;

}
